# Descriptive Statistics Review

## Before you start:

- Read the README.md file
- Comment as much as you can
- Happy learning!

## Context

![img](./diamonds.jpg)

In this lab we are going to work with data to understand the characteristics of a diamond that are most likely to influence its price. In this first part of the lab, we will explore and clean our data. 

The dataset we will be using is comprised of approximately 54k rows and 11 different columns. As always, a row represents a single observation (in this case a diamond) and each of the columns represent a different feature of a diamond.

The following codebook was provided together with the dataset to clarify what each column represents:

| Column  | Description  |
|---|---|
| Price  | Price in US dollars (326-18,823)  |
| Carat  | Weight of the diamond (0.2--5.01)  |
| Cut  | Quality of the cut (Fair, Good, Very Good, Premium, Ideal)  |
| Color  | Diamond colour, from J (worst) to D (best)  |
| Clarity  | A measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))   |
| x  | Length in mm (0--10.74)  |
| y  | Width in mm (0--58.9)  |
| z  | Depth in mm (0--31.8)  |
| Depth  | Total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)  |
| Table  | Width of top of diamond relative to widest point (43--95)  |

## Libraries
Pandas and numpy will be needed for the analysis of the data.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

First import the data from the .csv file provided and assign it to a variable named `diamonds` and **drop the column with the index.**

In [2]:
#your code here

#os.listdir()
diamonds = pd.read_csv("diamonds.csv", index_col = 0)
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
1       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

# 1. Taking the first look at the data.
Let's see how the data looks by using pandas methods like `head()`, `info()` and `describe()`. 

**First, use the `head` method.**

In [3]:
#your code here
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

We can see the first 5 rows of the dataset using the `head` method. This by itself doesn't tell us much about the data that we have, but we can have a first look at the features (columns) and some of the values that each one takes.

**What do you see? Make some comments about the values you see in each column, comparing them with the codebook. Is that what you would expect for these variables?**

In [4]:
#your code here
"""
In 'Price' I notice that there are in the low-end and rising (but it might just be 
coincidental, and not because it's sorted by price);

In 'Carat' I also notice that they're in the low end (but in this case they're definetly 
not sorted by this column).

In 'Cut' I see one Ideal, two Premium, and two good, which is interesting; at first glance
it seems that there will no no relation (or little relation?) between the cut and the price.

'Color': if I'm interpreting this corectly, 3 in the high-end, two in the low-end, so, 
probalby, no relation there either.

'Clarity' is a concept that is not well explained for me here (what does it mean to have
'worst clarity'? Does it mean that it is more opaque/less translucid?). In any case, going
from what I'm given, they seem to be in the low to mid end, so there may be some relation
here (judging solely from this very small sample, of course).

x, y and z: They seem to be on the low to mid range as well, so 1) there may be some 
relation there, and 2), it might be interesting to compute the areas and see if there's a
relation there. (maybe that's what depth is? It's not clear for me).

Depth: also seem to be in the low-mid range;

Table: also seem to be in the low-mid range.
"""

"\nIn 'Price' I notice that there are in the low-end and rising (but it might just be \ncoincidental, and not because it's sorted by price);\n\nIn 'Carat' I also notice that they're in the low end (but in this case they're definetly \nnot sorted by this column).\n\nIn 'Cut' I see one Ideal, two Premium, and two good, which is interesting; at first glance\nit seems that there will no no relation (or little relation?) between the cut and the price.\n\n'Color': if I'm interpreting this corectly, 3 in the high-end, two in the low-end, so, \nprobalby, no relation there either.\n\n'Clarity' is a concept that is not well explained for me here (what does it mean to have\n'worst clarity'? Does it mean that it is more opaque/less translucid?). In any case, going\nfrom what I'm given, they seem to be in the low to mid end, so there may be some relation\nhere (judging solely from this very small sample, of course).\n\nx, y and z: They seem to be on the low to mid range as well, so 1) there may be some \nrelation there, and 2), it might be interesting to compute the areas and see if there's a\nrelation there. (maybe that's what depth is? It's not clear for me).\n\nDepth: also seem to be in the low-mid range;\n\nTable: also seem to be in the low-mid range.\n"

It is very important to know the amount of data we have, because everything will depend on that, from the quality of the analysis to the choice of our infrastracture.

**Check the shape of the data**

In [5]:
#your code here
diamonds.shape

(53940, 10)

The `clarity` column is confusing because we are not diamond experts. Let's modify this column with a new scale that is more understandable for us.

**Modify `clarity` column with numbers from 0 to 7. The lowest would be 0 with value `I1` and the greatest 7 with value `IF`**

In [6]:
#your code here
# Creating a dictionary to map the old values to the new values
clearer = {"I1": 0, 
           "SI2": 1, 
           "SI1": 2, 
           "VS2": 3, 
           "VS1": 4, 
           "VVS2": 5, 
           "VVS1": 6, 
           "IF": 7
          }

# replacing the old values for the new ones
# I thought I had to specify the column in which to do the replace, but apparently not..?
diamonds.replace(clearer, inplace = True)

# checking that everything's ok
diamonds

       carat        cut color  clarity  depth  table  price     x     y     z
1       0.23      Ideal     E        1   61.5   55.0    326  3.95  3.98  2.43
2       0.21    Premium     E        2   59.8   61.0    326  3.89  3.84  2.31
3       0.23       Good     E        4   56.9   65.0    327  4.05  4.07  2.31
4       0.29    Premium     I        3   62.4   58.0    334  4.20  4.23  2.63
5       0.31       Good     J        1   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...      ...    ...    ...    ...   ...   ...   ...
53936   0.72      Ideal     D        2   60.8   57.0   2757  5.75  5.76  3.50
53937   0.72       Good     D        2   63.1   55.0   2757  5.69  5.75  3.61
53938   0.70  Very Good     D        2   62.8   60.0   2757  5.66  5.68  3.56
53939   0.86    Premium     H        1   61.0   58.0   2757  6.15  6.12  3.74
53940   0.75      Ideal     D        1   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

It makes sense to do the same with the `color` column.

**Do the same with values from 0 to 6. Read the codebook to see the match**

In [7]:
#your code here
# Creating a dictionary to map the old values to the new values
color = {"J": 0, 
           "I": 1, 
           "H": 2, 
           "G": 3, 
           "F": 4, 
           "E": 5, 
           "D": 6
          }

# replacing the old values for the new ones
diamonds.replace(color, inplace = True)

# checking that everything's ok
diamonds

       carat        cut  color  clarity  depth  table  price     x     y     z
1       0.23      Ideal      5        1   61.5   55.0    326  3.95  3.98  2.43
2       0.21    Premium      5        2   59.8   61.0    326  3.89  3.84  2.31
3       0.23       Good      5        4   56.9   65.0    327  4.05  4.07  2.31
4       0.29    Premium      1        3   62.4   58.0    334  4.20  4.23  2.63
5       0.31       Good      0        1   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...    ...      ...    ...    ...    ...   ...   ...   ...
53936   0.72      Ideal      6        2   60.8   57.0   2757  5.75  5.76  3.50
53937   0.72       Good      6        2   63.1   55.0   2757  5.69  5.75  3.61
53938   0.70  Very Good      6        2   62.8   60.0   2757  5.66  5.68  3.56
53939   0.86    Premium      2        1   61.0   58.0   2757  6.15  6.12  3.74
53940   0.75      Ideal      6        1   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

With the `info` method, we can see the features of the dataset, and the amount of observations (rows) that have a non-null value and the types of the features. 

**Now use the `info` method and comparing with the shape, comment on what you see**

In [8]:
# Since the shape is of 53940 x 11 (we can also see here in RangeIndex and Data columns),
# it seems that there are no null-values in the dataset; in other words, There is no missing
# information.
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53940 entries, 1 to 53940
Data columns (total 10 columns):
carat      53940 non-null float64
cut        53940 non-null object
color      53940 non-null int64
clarity    53940 non-null int64
depth      53940 non-null float64
table      53940 non-null float64
price      53940 non-null int64
x          53940 non-null float64
y          53940 non-null float64
z          53940 non-null float64
dtypes: float64(6), int64(3), object(1)
memory usage: 4.5+ MB

In the last line of the info output, you have some information about the types of the columns. As you know, it is a good idea to check if the types of each column is what you expect. If a column has the right type, we will be able to do all the operations that we want to do. 

For instance, if we have a column that is a `date` with a `string` format, we will have the data but we won't be able to do a simple operation, such as format the date the way that we would like.

Changing the data type to the one we needs can help us to solve a lot of problems in our data.

**Check the types of each column and comment if it matches with the expected**

In [9]:
#your code here

"""
After the changes in color and clarity it seems indeed that all columns are the expected
dtypes (unless it was meant to change not to ints but to strings of the ints.)
"""

'\nAfter the changes in color and clarity it seems indeed that all columns are the expected\ndtypes (unless it was meant to change not to ints but to strings of the ints.)\n'

# 2. A deeper look: checking the basic statistics.

The `describe` method gives us an overview of our data. From here we can see all the descriptive metrics for our variables.

**Use the `describe` method and comment on what you see**

In [10]:
#your code and comments here
"""
'cartat' seems to have very little dispersion, with the max of 5.01 seemingly being an 
outlier (min of .20, std of .47, 75% percentile at 1.04 and the max at 5.01). Worth 
investigation (at least plotting).

The "mins" in 'x', 'y' and 'z' are confusing (0) if they're spacial dimensions as I was 
understanding them. The Maxes are also quite weird (specially in 'y and a little but in 
'z').

There might be something in 'table' and/or 'price' in the same vein as above, but nothing 
stands out so much that I'd be confortable to say something about it just yet.
"""
diamonds.describe()

,carat,color,clarity,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,3.405803,3.051020,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.701105,1.647136,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,0.000000,0.000000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,2.000000,2.000000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,3.000000,3.000000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,5.000000,4.000000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,6.000000,7.000000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

You have probably noticed that the columns x, y and z have a minimum value of 0. This means that there are one or more rows (or observations) in our dataset that are supposedly representing a diamond that has lenght, width or depth of 0. Considering that we're talking about a physical object, this is impossible!

Now let's proceed to check the rows that have a value of 0 in any of the x, y or z columns. By doing this we want to check if the data we are missing can be obtained using the data that we do have.

**Check the columns with `x`, `y` and `z` with value 0 in all of them and comment what you see**

In [14]:
#your code here
# any with value 0
missing_xyz = diamonds[(diamonds["x"] == 0) | (diamonds["y"] == 0) | (diamonds["z"] == 0)]

# checking the how many have a 0 value at least in x,y or z: (20)
missing_xyz.shape

# There's eight (8) 0's in the x column
missing_xyz.x.value_counts()

# There's seven (7) 0's in the y column
missing_xyz.y.value_counts()

# There's twenty (20) 0's in the x column
missing_xyz.z.value_counts()

# with value 0 in all of the columns: 7
len(diamonds[(diamonds["x"] == 0) & (diamonds["y"] == 0) & (diamonds["z"] == 0)])

# checking
missing_xyz#.shape

       carat        cut  color  clarity  depth  table  price     x     y    z
2208    1.00    Premium      3        1   59.1   59.0   3142  6.55  6.48  0.0
2315    1.01    Premium      2        0   58.1   59.0   3167  6.66  6.60  0.0
4792    1.10    Premium      3        1   63.0   59.0   3696  6.50  6.47  0.0
5472    1.01    Premium      4        1   59.2   58.0   3837  6.50  6.47  0.0
10168   1.50       Good      3        0   64.0   61.0   4731  7.15  7.04  0.0
11183   1.07      Ideal      4        1   61.6   56.0   4954  0.00  6.62  0.0
11964   1.00  Very Good      2        3   63.3   53.0   5139  0.00  0.00  0.0
13602   1.15      Ideal      3        3   59.2   56.0   5564  6.88  6.83  0.0
15952   1.14       Fair      3        4   57.5   67.0   6381  0.00  0.00  0.0
24395   2.18    Premium      2        1   59.4   61.0  12631  8.49  8.45  0.0
24521   1.56      Ideal      3        3   62.2   54.0  12800  0.00  0.00  0.0
26124   2.25    Premium      1        2   61.3   58.0  15397  8.52  8.42  0.0
26244   1.20    Premium      6        6   62.1   59.0  15686  0.00  0.00  0.0
27113   2.20    Premium      2        2   61.2   59.0  17265  8.42  8.37  0.0
27430   2.25    Premium      2        1   62.8   59.0  18034  0.00  0.00  0.0
27504   2.02    Premium      2        3   62.7   53.0  18207  8.02  7.95  0.0
27740   2.80       Good      3        1   63.8   58.0  18788  8.90  8.85  0.0
49557   0.71       Good      4        1   64.1   60.0   2130  0.00  0.00  0.0
49558   0.71       Good      4        1   64.1   60.0   2130  0.00  0.00  0.0
51507   1.12    Premium      3        0   60.4   59.0   2383  6.71  6.67  0.0

As you can see, we have 20 rows that have a value of 0 in some or all the aforementioned columns.
Most of them (12) are missing the z value, which we can obtain using the columns depth, x and y. 

20 rows with issues represent just 0.03% of our data (20 out of 53940) so it wouldn't be a big deal to remove them. Still, lets try to keep all the data we have. 

For those 12 rows, we will create a function that applies the formula given in the codebook and get the value of z.

**Create a function named `calculate_z` that applies the function in the codebook to one single row you give to the function**

In [32]:
#your code here
# getting the values where 'x' and 'y' are not 0, but z is.
the_twelve = (missing_xyz["x"] != 0) & (missing_xyz["y"] != 0) & (missing_xyz["z"] == 0)

# checking that I get the above mentioned 12
missing_xyz[the_twelve].shape

# creating the mask for the diamonds dataframe (for future use)
xy_to_z = (diamonds["x"] != 0) & (diamonds["y"] != 0) & (diamonds["z"] == 0)

# Note that it has len (or count) == 53 940, meaning that is covering the whole DF with False EXCEPT
# where the condition is met ('x' != 0 & 'y' != 0 & 'z' == 0); in other words, it's True
# for those entities (rows) where the value of 'z'== 0 and we have values for 'x' and for 
# 'y'.
xy_to_z.describe() # a really cool way to check the nature of the mask! (count - Freq == True)

count     53940
unique        2
top       False
freq      53928
dtype: object

In [46]:
"""
# creating a function to calculate the z
# So... I was thinking that by 'obs' I was passing the whole DF, but in fact I'm passing a
# Series. Then filtering it with itself. In a way I'm undervaluing the power of the apply 
# method and doing part of its job for it. 
# Need to study these methods more. But it was a great learning experience.

def calculate_z(obs):
    
    #Total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)
    
    #So... z = [(x + y) / 2] * (depth / 100)?
    
    
    if obs[obs["z"] == 0]:
        z = round(((obs["x"] + obs["y"]) / 2) * (obs["depth"] / 100), 2)
        return z
"""

# redesigning the function to calculate 'z' from the 'x', 'y' and depth values.
def calculate_z(df):
    """
    Calculate 'z' from 'x', 'y' and 'depth', rounding to 2 decimals, and returning it
    IF 'z' == 0
    """
    if df[df["z"] == 0]:
        z = round(((df["x"] + df["y"]) / 2) * (df["depth"] / 100), 2)
        return z

**Apply it just to the rows with incorrect values**

In [47]:
#your code here
diamonds["z"] = diamonds.apply(calculate_z, axis = 1)

In [55]:
# checking if it worked
#diamonds[(diamonds["x"] == 0) | (diamonds["y"] == 0) | (diamonds["z"] == 0)]
#diamonds[xy_to_z]
diamonds.loc[2208]

carat            1
cut        Premium
color            3
clarity          1
depth         59.1
table           59
price         3142
x             6.55
y             6.48
z             3.85
Name: 2208, dtype: object

If we leave the other 8 values as they are, it would negatively affect our analysis, because these are data that do not make logical sense. Therefore it is better to consider those values as NaN values, since they are probably the result of a mistake or error during process of measuring and storing these values in a dataset.

To replace them we can use the pandas .replace() method and np.NaN.

**Replace the zero values in the `z` column for a NaN**

In [66]:
#your code here
# after speaking with the TA's, I realized that it wasn't only for the 'z' column, but also
# for the 'x' and why, so:
diamonds.replace({"z": {0: np.nan}, "y": {0: np.nan}, "x": {0: np.nan}}, inplace = True)

Let's check the data again with the `describe()` method.

In [70]:
#your code here
diamonds.describe()

,carat,color,clarity,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53932.000000,53933.000000,53933.000000
mean,0.797940,3.405803,3.051020,61.749405,57.457184,3932.799722,5.732007,5.735270,3.540027
std,0.474011,1.701105,1.647136,1.432621,2.234491,3989.439738,1.119670,1.140339,0.695607
min,0.200000,0.000000,0.000000,43.000000,43.000000,326.000000,3.730000,3.680000,2.040000
25%,0.400000,2.000000,2.000000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,3.000000,3.000000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,5.000000,4.000000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,6.000000,7.000000,79.000000,95.000000,18823.000000,10.740000,58.900000,19.730000

The minimum value for x, y and z should now be a positive number, as it should be for the physical measurements of an object.

Let's finish by checking for NaN values in the data. Since we introduced them ourselves using 'replace', we will surely find some, but there may be more that are unrelated to the x, y and z columns. Checking NaNs is a fundamental part of data cleaning and it's always better to do this kind of operations before proceeding with analysis.

**Check how many NaNs do you have, comment what you would do with those values, and then do so**

In [ ]:
#your code here

# 3. Checking for outliers
Now we are going to revisit the summary table to check for outliers.

**Use the `describe` method again and comment on what you see. After that, check if you have any outliers**

In [ ]:
#your code here

In [ ]:
#your comments here

To manage these outliers, we are going to filter our DataFrame, we're going to take all the values that have a price higher than the 75th percentile.

**Look for that quantile and filter the dataframe to clearly see the outliers. What do you think?**

In [ ]:
#your code here

Our dataset is really big and the outliers are really far apart from the rest of the values. To see this more clearly we will use a boxplot, which plots the median, 25th and 75th quartile, the maximum and minimum, as well as any outliers.

In [ ]:
#Run this code
fig, ax = plt.subplots(1,2, figsize=(10, 5))
sns.boxplot(y=diamonds.y, ax=ax[0])
sns.boxplot(y=diamonds.z, ax=ax[1])
plt.subplots_adjust(wspace=0.5)

Now we can see that all the values are within an acceptable range, but we have 2 big outliers in y and 1 in z. Now we know that our max values for y should be around 10 and the values for z should be around 6, so let's filter our dataset to find values for z higher than 10 in it.

In [ ]:
#your code here

Now that we have found the outlier, let's use the function we defined earlier to correct this value. First, we need to change the value to 0 (because that's how we defined the function before) and then we will apply it.

**Apply `calculate_z` for the row with the outlier**

In [ ]:
#your code here

Let's check if we actually corrected the outlier.

In [ ]:
diamonds.loc[48410]

Now let's do the same for `y`. First, let's filter the DataFrame to find the outliers. We said that the maximum values should be around 10, so let's check what are the values above 10.

**Check the values greater than 10 in the `y` column**

In [ ]:
#your code here

We can clearly see that the 31.8 in row 49189 is an outlier for the y value. Also, we can see that the 58.9 value for `y` in row 24067 is actually its depth, so it was a mistake when they introduced the data. Let's create a function to fix these outliers.

**Create a function named `calculate_y` to calculate `y` using `z` and `x` the same way you did above**

In [ ]:
#your code here

We will check the rows that had an outlier in `y`, to check that the values were changed.

**Check those rows and comment what you see**

In [ ]:
#your thoughts here

Now that we have corrected or dropped all of our outliers, lets plot another box plot to double check.

In [ ]:
#Run this code
fig, ax = plt.subplots(1,2, figsize=(10, 5))
sns.boxplot(y=diamonds.y, ax=ax[0])
sns.boxplot(y=diamonds.z, ax=ax[1])
plt.subplots_adjust(wspace=0.5)

**What do you think? Are these values more reasonable?**

In [ ]:
#your thoughts here

**Once you are happy with your cleaning, save the cleaned data and continue to csv. Your new csv should be named ``diamonds_clean.csv``**

In [ ]:
#your code here

## IGRONE BELOW

In [ ]:
# Ignore this cell

# creating a new Series with the z 
#diamonds["new_z"] = diamonds.apply(calculate_z, axis = 1)
#diamonds[diamonds["z"] == 0]
#diamonds["z"] = diamonds.apply(calculate_z, axis = 1)
#diamonds[xy_to_z]
#diamonds

In [ ]:
# Ignore this cell

# Creating a function to check if the values in 'z' and the values in 'new_z' are the same
# within 2 decimal points (due to possible differences in rounding)

def difference(obs):
    diff = obs["new_z"] - obs["z"]

    if diff > 0.01 or diff < -0.01:
        return False
    else:
        return True

In [ ]:
# Ignore this cell

# Applying the function above; if I get a 'False', there will be at least one entry where
# the above computation returned a different value than what was in the 'z' column. This
# would mean that either the formula is wrong, that I understood the formula wrong, or that
# some piece of the data is wrong.
# diamonds.apply(difference, axis = 1).unique()

In [ ]:
# Ignore this cell

# Since I checked that there are indeed wrong values (and I read the exercise forwards), I'm
# assuming that I got the formula right, but that some values have been incorrectly 
# introduced. Therefore, I'm dropping the 'new_z' column:
#diamonds.drop("new_z", axis = 'columns', inplace = True)